<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${article.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <link rel="mask-icon" href="/images/favicon.svg" color="#FFFFFF">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
</head>
<body>
<header th:replace="header :: header"></header>
<div class="_fake-header"></div>
<!-- 文章详情页 -->
<div class="_main_content">
    <!-- 前言模块 -->
    <section class="_mod_introduce _mod_editor js-mod-introduce">
        <div class="_introduce_title_wrapper show-animate-item">
            <div class="_article_title_wrapper">
                <div class="_introduce_title js-intro-title" th:text="${article.title}"></div>
            </div>
            <div class="_public_line caretColor"></div>
            <div class="_introduce_tag js-intro-tag" th:text="${article.categoryName}"></div>
        </div>
        <div class="_public_paragraph js-intro-content show-animate-item" th:utext="${article.introduction}">
        </div>
        <div class="_public_banner js-intro-banner js-defualt-banner show-animate-item">
            <img class="pic js-pic-banner clip-animate-item block-item"
                 data-banner-src="https://cdn-isux.qq.com/upload/detail/LnNBRJOnk4yHNg03I4q3IjX6A830rWgeBjdT1b5BBcm.jpg"
                 data-article-id="${article.id}"
                 src="https://cdn-isux.qq.com/upload/detail/LnNBRJOnk4yHNg03I4q3IjX6A830rWgeBjdT1b5BBcm.jpg" alt="">
        </div>
    </section>
    <!-- 正文模块 -->
    <section class="_mod_content _mod_editor" th:utext="${article.content}">
    </section>

    <!-- 文章数据模块 -->
    <section class="_mod_stat show-animate-item">
        <div class="_stat_wrapper">
            <div class="_article_date">
                <span class="date" th:text="${article.createTime}"></span>
            </div>
        </div>
    </section>

    <!-- 作者模块 -->
    <section class="_mod_authors show-animate-item">
    </section>
    <!-- /相关文章推荐模块 -->
    <!-- 相关文章推荐模块/ -->
</div>
<div class="share_article_scroll share_article_hide">
    <div class="_mod_stat">
        <div class="_article_stat">
            <ul class="_stat_list">
                <li class="_stat_item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" class="_stat_view _stat_icon">
                        <g>
                            <path class="view_svg" d="M19,9c0,2.5-3.5,8-9,8S1,11.5,1,9s3.5-8,9-8S19,6.5,19,9Z"/>
                            <circle class="view_svg" cx="10" cy="9" r="3"/>
                        </g>
                    </svg>
                    <span class="_views">468</span>
                </li>
                <li class="_stat_item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18.53" class="_stat_like _stat_icon"
                         id="js-like-1" data-id="148">
                        <g>
                            <path class="like_svg" d="M17.54,9.54A5,5,0,1,0,10,3,5,5,0,1,0,2.46,9.54L10,17.11Z"/>
                        </g>
                    </svg>
                    <span class="_likes bottom-like-text">13</span>
                </li>
            </ul>
            <ul class="_stat_share_article js-share-list" data-title="WHAT YOU SEE IS WHAT YOU GET">
            </ul>
        </div>
    </div>
</div>
<!-- 文章详情页 -->
<div id="bottom-mask"></div>
<div class="mask-strip"></div>
<footer th:replace="footer :: footer"></footer>
<script type="text/tpl" id="itemTpl">
<div class="gallery-item <%=?cssclass%>"<%=?dataset%>>
	<a class="gallery-wrapper" href="<%=url%>" target="_blank">
		<div class="gallery-pics show-search-animate-item">
			<div class="gallery-pic gallery-pic-gray lazy clip-animate-item" data-src="<%=image%>"></div>
			<div class="gallery-pic gallery-pic-normal lazy clip-animate-item" data-src="<%=image1x%>"></div>
		</div>
		<div class="gallery-info show-search-animate-item">
			<h3 class="title" title="<%=title%>"><%=title%></h3>
			<p class="category"><%=category_name%></p>
			<p class="abstract"><%=abstract%></p>
		</div>
	</a>
</div>
</script>
<script>
    var G_csrf = 'JQDB_H1qvdLp8WjEhOrjr1Apc2UtBn4d';
</script>
<script src="/js/lib.js"></script>
<!-- 页面逻辑js -->
<script src="/js/detail.js"></script>
</body>
</html>