<!DOCTYPE html>
<html lang="en" class="webp">
<head>
    <meta charset="utf-8">
    <title>Articles - Tencent ISUX Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <link rel="mask-icon" href="/images/favicon.svg" color="#FFFFFF">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/articles.css">
    <!-- articles css file -->
</head>
<body>
<header>
    <div class="_header-wrapper">
        <nav id="navigator" class="mod_site_nav nav-animate-item js-nav-state">
            <div class="_nav-logo">
                <a href="/" class="_nav-flower"></a>
            </div>
            <!-- pc端的结构 -->
            <div class="_nav-wrapper">
                <ul class="_nav-items">
                    <li class="_nav-item active">
                        <a href="/articles/">文章</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/brands/">分类</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/resources/">标签</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/careers/">关于</a>
                    </li>
                </ul>
            </div>
            <!-- pc端的搜索按钮，移动端时为隐藏状态 -->
            <div class="_nav-search">
                <a href="#/search/" data-action="toggle" data-args="body" data-cssclass="xxx"></a>
            </div>
        </nav>
    </div>
</header>
<div class="_fake-header"></div>

<div class="article-container">

    <div class="article">

        <div class="article-list">
            <a href="/articles/visual-editor.html" class="article-single show-animate-item">
                <div class="head-img">
                    <div class="img-wrap">
                        <div class="chief-img monochrome lazy clip-animate-item"
                             data-src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg"></div>
                        <div class="chief-img colorful lazy clip-animate-item"
                             data-src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg"></div>
                    </div>
                </div>
                <div class="head-side show-animate-item">
                    <div class="article-detail">
                        <h3 class="specific-title">WHAT YOU SEE IS WHAT YOU GET</h3>
                        <div class="specific-kind">TECH</div>
                        <p class="specific-introduce"
                           title="可视化编辑器，解决传统文章编辑器编辑及发布页面不一致的痛点，实时同步后台编辑与前端效果，大幅度提升内容管理效率，实现真正的所见即所得——What You See Is What You Get.">
                            可视化编辑器，解决传统文章编辑器编辑及发布页面不一致的痛点，实时同步后台编辑与前端效果，大幅度提升内容管理效率，实现真正的所见即所得——What You See Is What You
                            Get.</p>
                    </div>
                </div>
            </a>
            <div class="article-single empty-article"><p class="specific-introduce"></p></div>
            <div class="article-single empty-article"><p class="specific-introduce"></p></div>
        </div>
        <div class="read-more-box">
            <a href="#/read-more/" class="read-more js-more show-animate-item" data-category="" data-count="7"
               data-category-id="1" data-sub-category-id="" data-tag-id="" data-page="1" data-pagesize="7">
                更多文章
                <div class="arrow-content">
                    <svg width="9" height="17" class="more-arrow arrow-top">
                        <g stroke="#000" fill="none" fill-rule="evenodd" stroke-linecap="square">
                            <path d="M4.5.5v16M4.5 16.5l4-4M4.5 16.5l-4-4"/>
                        </g>
                    </svg>
                    <svg width="9" height="17" class="more-arrow arrow-bottom">
                        <g stroke="#000" fill="none" fill-rule="evenodd" stroke-linecap="square">
                            <path d="M4.5.5v16M4.5 16.5l4-4M4.5 16.5l-4-4"/>
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<script type="text/tpl" id="article-tpl">
		<a href="<%=url%>" class="article-single js-lazy-item">
			<!--<div class="head-img show-animate-item">-->
				<!--<div class="img-wrap">-->
					<!--<div class="chief-img monochrome lazy clip-animate-item" data-src="<%=monochrome%>"></div>-->
					<!--<div class="chief-img colorful lazy clip-animate-item" data-src="<%=colorful%>"></div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="head-side show-animate-item">
				<div class="article-detail">
					<h3 class="specific-title" title="<%=title%>"><%=title%></h3>
					<div class="specific-kind"><%=category%></div>
					<p class="specific-introduce"><%=abstract%></p>
				</div>
			</div>
		</a>
</script>
<div id="bottom-mask"></div>
<div class="mask-strip"></div>

<footer class="mod_site_footer" role="contentinfo">
    <div class="_footer-prefix">
        <div class="_inner-wrapper"></div>
    </div>
    <div class="_social">
        <div class="_inner-wrapper">
            <ul class="_social-media-links">
                <!-- <li class="-hc -vimeo"><a href="#" title="vimeo"></a></li> -->
                <li class="-hc -wechat">
                    <a title="wechat">
                        <span class="-wechat-qr">
                            <img class="lazy" data-src="/images/isux-qr.png" alt="微信公众号二维码">
                        </span>
                    </a>
                </li>
                <!-- <li class="-hc -facebook"><a href="#" title="facebook"></a></li> -->
                <li class="-hc -weibo"><a href="http://weibo.com/txisux" target="_blank" title="weibo"></a></li>
            </ul>

        </div>
    </div>
    <div class="_footer-suffix">
        <div class="_inner-wrapper">
            <div class="supporting-information">
                <ul class="_footer-links">
                    <li class="_footer-link"><a href="http://liuyiyou.cn" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="copyright">Copyright © 1998 - 2018 liuyiyou.cn Inc. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<div class="-search hide" id="search" role="application" aria-hidden="false">
    <div class="-search-inner">
        <div class="-search-form">
			<span class="-search-box">
				<input type="search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"
                       maxlength="100" class="-search-input" placeholder="keywords" value=""/>
				<button type="button" class="-search-reset" title="Close">&times;</button>
			</span>
        </div>
        <div class="-search-result">
            <div class="-search-result-head">
                啥，没结果？别担心，我们为您准备了推荐的文章：
            </div>
            <div class="gallery -search-gallery" id="searchResult"></div>
        </div>
        <div class="-loading -search-loading hide">
            <span class="-loading-icon -search-loading-icon"><i></i><i></i></span>
        </div>
    </div>
</div>
<!-- .-search -->
<script type="text/tpl" id="itemTpl">
<div class="gallery-item <%=?cssclass%>"<%=?dataset%>>
	<a class="gallery-wrapper" href="<%=url%>" target="_blank">
		<div class="gallery-pics show-search-animate-item">
			<div class="gallery-pic gallery-pic-gray lazy clip-animate-item" data-src="<%=image%>"></div>
			<div class="gallery-pic gallery-pic-normal lazy clip-animate-item" data-src="<%=image1x%>"></div>
		</div>
		<div class="gallery-info show-search-animate-item">
			<h3 class="title" title="<%=title%>"><%=title%></h3>
			<p class="category"><%=category_name%></p>
			<p class="abstract"><%=abstract%></p>
		</div>
	</a>
</div>
</script>
<script>
    var G_csrf = 'JQDB_H1qvdLp8WjEhOrjr1Apc2UtBn4d';
</script>
<script src="/js/lib.js"></script>
<script src="/js/clamp.js"></script>
<script src="/js/read-more.js"></script>
<script src="/js/articles.js"></script>
</body>
</html>