<!DOCTYPE html>
<html lang="zh-CN">
<footer class="mod_site_footer" role="contentinfo">
    <div class="_footer-prefix">
        <div class="_inner-wrapper"></div>
    </div>
    <div class="_social">
        <div class="_inner-wrapper">
            <ul class="_social-media-links">
                <!-- <li class="-hc -vimeo"><a href="#" title="vimeo"></a></li> -->
                <li class="-hc -wechat">
                    <a title="wechat">
                        <span class="-wechat-qr">
                            <img class="lazy" data-src="/images/isux-qr.png" alt="微信公众号二维码">
                        </span>
                    </a>
                </li>
                <!-- <li class="-hc -facebook"><a href="#" title="facebook"></a></li> -->
                <li class="-hc -weibo"><a href="http://weibo.com/txisux" target="_blank" title="weibo"></a></li>
            </ul>

        </div>
    </div>
    <div class="_footer-suffix">
        <div class="_inner-wrapper">
            <div class="supporting-information">
                <ul class="_footer-links">
                    <li class="_footer-link"><a href="http://liuyiyou.cn/" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="copyright">Copyright © 1998 - 2018 liuyiyou Inc. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<search>
    <div class="-search hide" id="search" role="application" aria-hidden="false">
        <div class="-search-inner">
            <div class="-search-form">
			<span class="-search-box">
				<input type="search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"
                       maxlength="100" class="-search-input" placeholder="keywords" value=""/>
				<button type="button" class="-search-reset" title="Close">&times;</button>
			</span>
            </div>
            <div class="-search-result">
                <div class="-search-result-head">
                    啥，没结果？别担心，我们为您准备了推荐的文章：
                </div>
                <div class="gallery -search-gallery" id="searchResult"></div>
            </div>
            <div class="-loading -search-loading hide">
                <span class="-loading-icon -search-loading-icon"><i></i><i></i></span>
            </div>
        </div>
    </div>
    <div id="bottom-mask"></div>
    <div class="mask-strip"></div>
</search>

<!-- .-search -->
</html>