<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title th:text="类目"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <link rel="mask-icon" href="/images/favicon.svg" color="#FFFFFF">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
</head>
</html>