<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    </meta>
    <title>SpringBoot环境搭建</title>
</head>
<body>
<h1 th:inline="text">SpringBoot环境搭建</h1>
本Demo基础SpringBoot 1.4.7,原因是因为搭建的时候,一些依赖下载不下来。问了一下DRP,他们用的是1.5.6

该实例包含如下内容:

<p>1、集成MyBatis</p>
<p>2、集成Redis</p>
<p>3、多数据源</p>
<p>4、分布式事务</p>
<p>5、集成thymeleaf模板</p>
<p>6、全局异常</p>
<p>7、自定义静态文件处理</p>
<p>8、日志设置</p>

<script type="text/javascript" src="/resources/index.js"></script>
</body>
</html>