<!DOCTYPE html>
<html lang="en" class="webp">
<head>
    <meta charset="utf-8">
    <title>Tencent ISUX Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <link rel="mask-icon" href="/images/favicon.svg" color="#FFFFFF">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="_header-wrapper">
        <nav id="navigator" class="mod_site_nav nav-animate-item js-nav-state">
            <div class="_nav-logo">
                <a href="/" class="_nav-flower"></a>
                <!-- <a href="/" class="js-nav-isux _nav-isux"></a> -->
            </div>
            <!-- pc端的结构 -->
            <div class="_nav-wrapper">
                <ul class="_nav-items">
                    <li class="_nav-item">
                        <a href="/articles/">ARTICLES</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/brands/">BRANDS</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/resources/">RESOURCES</a>
                    </li>
                    <li class="_nav-item">
                        <a href="/careers/">CAREERS</a>
                    </li>
                    <!-- 移动端的搜索按钮，pc的时候为隐藏状态，功能跟._nav-search一样 -->
                    <div class="nav-item -m-search">
                        <a href="#/search/" data-action="toggle" data-args="body" data-cssclass="xxx"></a>
                    </div>
                </ul>
            </div>
            <!-- pc端的搜索按钮，移动端时为隐藏状态 -->
            <div class="_nav-search">
                <a href="#/search/" data-action="toggle" data-args="body" data-cssclass="xxx"></a>
            </div>
            <!-- 移动端的菜单list按钮，pc的时候为隐藏状态，在列表icon和close-icon之间切换 -->
            <div class="_m-nav-list" data-cssclass="_m-nav-close">
                <a href="#/list/" data-action="toggle" data-args="body" class="lines js-m-navlist">
                    <span class="line first-line"></span>
                    <span class="line second-line"></span>
                    <span class="line third-line"></span>
                </a>
            </div>
        </nav>
    </div>
</header>
<div class="_fake-header"></div>
<!-- 文章列表 -->
<section class="list" id="list">
    <article class="js-animate-out">
        <section id="main" class="mod_main">
            <ul class="_article-items">
                <li class="_article-item show-animate-item" data-home-index="1">
                    <a href="/articles/visual-editor.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="148"
                             data-src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="148"
                             data-src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/148_b_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">WHAT YOU SEE IS WHAT YOU GET</h3>
                                <!-- <p class="tag">
                                    TECH
                                </p> -->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="2">
                    <a href="/article/1">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="150"
                             data-src="https://cdn-isux.qq.com/upload/covers/150_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/150_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="150"
                             data-src="https://cdn-isux.qq.com/upload/covers/150_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/150_a_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">从零开始的异视觉设计</h3>
                                <!-- <p class="tag">
                                    DESIGN
                                </p> -->
                            </div>
                        </div>

                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="3">
                    <a href="https://ycg.qq.com/" target="_blank">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="featuredYCG"
                             data-src="https://cdn-isux.qq.com/upload/covers/featuredYCG_c.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/featuredYCG_c.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item  pic-colorful lazy" data-basename="featuredYCG"
                             data-src="https://cdn-isux.qq.com/upload/covers/featuredYCG_c_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/featuredYCG_c_src.jpg" data-AdIndex="2"
                             crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">原创馆</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="4">
                    <a href="/articles/ycg.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="152"
                             data-src="https://cdn-isux.qq.com/upload/covers/152_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/152_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="152"
                             data-src="https://cdn-isux.qq.com/upload/covers/152_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/152_a_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">原创本源之味</h3>
                                <!-- <p class="tag">
                                    DESIGN
                                </p> -->
                            </div>
                        </div>

                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="5">
                    <a href="/articles/qqpay.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="144"
                             data-src="https://cdn-isux.qq.com/upload/covers/144_b.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/144_b.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="144"
                             data-src="https://cdn-isux.qq.com/upload/covers/144_b_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/144_b_src.jpg" crossOrigin='anonymous'/>

                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">QQ支付 喜欢就付</h3>
                                <!-- <p class="tag">
                                    DESIGN
                                </p> -->
                            </div>
                        </div>

                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="6">
                    <a href="/articles/isux-7th-anniversary.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="149"
                             data-src="https://cdn-isux.qq.com/upload/covers/149_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/149_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="149"
                             data-src="https://cdn-isux.qq.com/upload/covers/149_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/149_a_src.jpg" crossOrigin='anonymous'/>

                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">ISUX 7周年</h3>
                                <!-- <p class="tag">
                                    EVENT
                                </p> -->
                            </div>
                        </div>

                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="7">
                    <a href="/articles/isux-h5-in-iphone.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="146"
                             data-src="https://cdn-isux.qq.com/upload/covers/146_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/146_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="146"
                             data-src="https://cdn-isux.qq.com/upload/covers/146_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/146_a_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">极速适配 iPhone X 秘笈</h3>
                                <!-- <p class="tag">
                                    TECH
                                </p> -->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="8">
                    <a href="/articles/isux-calendar.html">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="145"
                             data-src="https://cdn-isux.qq.com/upload/covers/145_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/145_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="145"
                             data-src="https://cdn-isux.qq.com/upload/covers/145_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/145_a_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">ISUX 2018 Calendar</h3>
                                <!-- <p class="tag">
                                    EVENT
                                </p> -->
                            </div>
                        </div>
                    </a>
                </li>
                <li class="_article-item show-animate-item" data-home-index="9">
                    <a href="/about">
                        <img class="pic js-pic-item clip-animate-item pic-gray lazy" data-basename="isux"
                             data-src="https://cdn-isux.qq.com/upload/covers/isux_a.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/isux_a.jpg" crossOrigin='anonymous'/>
                        <img class="pic js-pic-item clip-animate-item pic-colorful lazy" data-basename="isux"
                             data-src="https://cdn-isux.qq.com/upload/covers/isux_a_src.jpg"
                             src="https://cdn-isux.qq.com/upload/covers/isux_a_src.jpg" crossOrigin='anonymous'/>
                        <div class="_title-wrapper fade-animate-item">
                            <div class="_title-flex">
                                <h3 class="title js-article-title">走近我们的世界</h3>
                                <!-- <p class="tag">
                                    ABOUT
                                </p> -->
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </article>
</section>
<!-- /文章列表 -->
<div id="bottom-mask"></div>
<div class="mask-strip"></div>
<footer class="mod_site_footer" role="contentinfo">
    <div class="_footer-prefix">
        <div class="_inner-wrapper"></div>
    </div>
    <div class="_social">
        <div class="_inner-wrapper">
            <ul class="_social-media-links">
                <!-- <li class="-hc -vimeo"><a href="#" title="vimeo"></a></li> -->
                <li class="-hc -wechat">
                    <a title="wechat">
                        <span class="-wechat-qr">
                            <img class="lazy" data-src="/images/isux-qr.png" alt="微信公众号二维码">
                        </span>
                    </a>
                </li>
                <li class="-hc -weibo"><a href="http://weibo.com/txisux" target="_blank" title="weibo"></a></li>
            </ul>

        </div>
    </div>
    <div class="_footer-suffix">
        <div class="_inner-wrapper">
            <div class="copyright">Copyright © 1998 - 2018 liuyiyou Inc. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<div class="-search hide" id="search" role="application" aria-hidden="false">
    <div class="-search-inner">
        <div class="-search-form">
			<span class="-search-box">
				<input type="search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"
                       maxlength="100" class="-search-input" placeholder="keywords" value=""/>
				<button type="button" class="-search-reset" title="Close">&times;</button>
			</span>
        </div>
        <div class="-search-result">
            <div class="-search-result-head">
                啥，没结果？别担心，我们为您准备了推荐的文章：
            </div>
            <div class="gallery -search-gallery" id="searchResult"></div>
        </div>
        <div class="-loading -search-loading hide">
            <span class="-loading-icon -search-loading-icon"><i></i><i></i></span>
        </div>
    </div>
</div>
<!-- .-search -->
<script type="text/tpl" id="itemTpl">
<div class="gallery-item <%=?cssclass%>"<%=?dataset%>>
	<a class="gallery-wrapper" href="<%=url%>" target="_blank">
		<div class="gallery-pics show-search-animate-item">
			<div class="gallery-pic gallery-pic-gray lazy clip-animate-item" data-src="<%=image%>"></div>
			<div class="gallery-pic gallery-pic-normal lazy clip-animate-item" data-src="<%=image1x%>"></div>
		</div>
		<div class="gallery-info show-search-animate-item">
			<h3 class="title" title="<%=title%>"><%=title%></h3>
			<p class="category"><%=category_name%></p>
			<p class="abstract"><%=abstract%></p>
		</div>
	</a>
</div>

</script>
<script src="/js/lib.js"></script>
<script src="/js/common/background-check.js"></script>
<script>
    window.backgroundCheck && backgroundCheck.init({
        targets: '._title-flex',
        imgs: '.pic-gray.lazy',
        parents: '._article-item a',
        cssclass: '_article-light-item'
    });
</script>
<!-- 页面逻辑js -->
<script src="/js/home.js"></script>
</body>
</html>