<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liuyiyou.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.liuyiyou.blog.entity.Article">
        <id property="id" column="id"></id>
        <result property="introduction" column="introduction" jdbcType="INTEGER"></result>
        <result property="title" column="title"></result>
        <result property="attachment" column="attachment"></result>
        <result property="categoryName" column="category_name"></result>
        <result property="image" column="image"></result>
        <result property="image1x" column="image1x"></result>
        <result property="permalink" column="permalink"></result>
        <result property="richRecommended" column="richRecommended"></result>
        <result property="sticky" column="sticky"></result>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="Base_Column">
        id, introduction, title, attachment, category_name, image, image1x, permalink, rich_recommended, sticky, create_time, update_time
    </sql>

    <select id="selectById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>, content
        FROM t_article
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectArticlesByPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>
        FROM t_article
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>
        FROM t_article
    </select>


    <insert id="insert" parameterType="cn.liuyiyou.blog.entity.Article" useGeneratedKeys="true">
        INSERT INTO t_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="attachment != null">
                attachment,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="image1x != null">
                image1x,
            </if>
            <if test="permalink != null">
                permalink,
            </if>
            <if test="richRecommended != null">
                rich_recommended,
            </if>
            <if test="sticky != null">
                sticky,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="attachment != null">
                #{attachment},
            </if>
            <if test="categoryName != null">
                #{categoryName},
            </if>
            <if test="image != null">
                #{image},
            </if>
            <if test="image1x != null">
                #{image1x},
            </if>
            <if test="permalink != null">
                #{permalink},
            </if>
            <if test="richRecommended != null">
                #{richRecommended},
            </if>
            <if test="sticky != null">
                #{sticky},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
</mapper>