<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liuyiyou.web.mapper.MessageMapper" >

  <resultMap id="BaseResultMap" type="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    <id column="msg_id" property="msgId" jdbcType="INTEGER" />
    <result column="msg_from" property="msgFrom" jdbcType="VARCHAR" />
    <result column="msg_to" property="msgTo" jdbcType="VARCHAR" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="msg_status" property="msgStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    msg_id, msg_from, msg_to, msg_title, msg_content, msg_status
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from t_message
    where msg_id = #{msgId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    delete from t_message
    where msg_id = #{msgId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into t_message (msg_id, msg_from, msg_to, 
      msg_title, msg_content, msg_status
      )
    values (#{msgId,jdbcType=INTEGER}, #{msgFrom,jdbcType=VARCHAR}, #{msgTo,jdbcType=VARCHAR}, 
      #{msgTitle,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, #{msgStatus,jdbcType=TINYINT}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="msgFrom != null" >
        msg_from,
      </if>
      <if test="msgTo != null" >
        msg_to,
      </if>
      <if test="msgTitle != null" >
        msg_title,
      </if>
      <if test="msgContent != null" >
        msg_content,
      </if>
      <if test="msgStatus != null" >
        msg_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=INTEGER},
      </if>
      <if test="msgFrom != null" >
        #{msgFrom,jdbcType=VARCHAR},
      </if>
      <if test="msgTo != null" >
        #{msgTo,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        #{msgStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update t_message
    <set >
      <if test="msgFrom != null" >
        msg_from = #{msgFrom,jdbcType=VARCHAR},
      </if>
      <if test="msgTo != null" >
        msg_to = #{msgTo,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        msg_title = #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        msg_content = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        msg_status = #{msgStatus,jdbcType=TINYINT},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update t_message
    set msg_from = #{msgFrom,jdbcType=VARCHAR},
      msg_to = #{msgTo,jdbcType=VARCHAR},
      msg_title = #{msgTitle,jdbcType=VARCHAR},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      msg_status = #{msgStatus,jdbcType=TINYINT}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" resultMap="BaseResultMap" parameterType="cn.liuyiyou.web.model.Message" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from t_message
    <where >
      <if test="msgId != null" >
        msg_id = #{msgId,jdbcType=INTEGER}
      </if>
      <if test="msgFrom != null" >
         and msg_from = #{msgFrom,jdbcType=VARCHAR}
      </if>
      <if test="msgTo != null" >
         and msg_to = #{msgTo,jdbcType=VARCHAR}
      </if>
      <if test="msgTitle != null" >
         and msg_title = #{msgTitle,jdbcType=VARCHAR}
      </if>
      <if test="msgContent != null" >
         and msg_content = #{msgContent,jdbcType=VARCHAR}
      </if>
      <if test="msgStatus != null" >
         and msg_status = #{msgStatus,jdbcType=TINYINT}
      </if>
    </where>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>