<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liuyiyou.web.mapper.TagMapper" >

  <resultMap id="BaseResultMap" type="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>



  <sql id="Base_Column_List" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    tag_id, blog_id, name, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from t_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    delete from t_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into t_tag (tag_id, blog_id, name,
      create_time, update_time)
    values (#{tagId,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into t_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update t_tag
    <set >
      <if test="blogId != null" >
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update t_tag
    set blog_id = #{blogId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" resultMap="BaseResultMap" parameterType="cn.liuyiyou.web.model.Tag" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from t_tag
    <where >
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER}
      </if>
      <if test="blogId != null" >
         and blog_id = #{blogId,jdbcType=INTEGER}
      </if>
      <if test="name != null" >
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>



  <resultMap id="BaseResultMapWithOutTimes" type="cn.liuyiyou.web.model.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
</mapper>