<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liuyiyou.web.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_channel" property="createChannel" jdbcType="TINYINT" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="last_channel" property="lastChannel" jdbcType="TINYINT" />
    <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
    <result column="inv_code" property="invCode" jdbcType="VARCHAR" />
    <result column="src" property="src" jdbcType="TINYINT" />
    <result column="ditch" property="ditch" jdbcType="INTEGER" />
    <result column="consume" property="consume" jdbcType="BIT" />
    <result column="ower_ship" property="owerShip" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    uid, account, real_name, nickname, passwd, email, create_time, create_channel, last_time, 
    last_channel, last_ip, status, user_type, inv_code, src, ditch, consume, ower_ship
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.liuyiyou.web.model.UserExample" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    delete from user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="cn.liuyiyou.web.model.UserExample" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into user (uid, account, real_name, 
      nickname, passwd, email, 
      create_time, create_channel, last_time, 
      last_channel, last_ip, status, 
      user_type, inv_code, src, 
      ditch, consume, ower_ship
      )
    values (#{uid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createChannel,jdbcType=TINYINT}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{lastChannel,jdbcType=TINYINT}, #{lastIp,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{userType,jdbcType=TINYINT}, #{invCode,jdbcType=VARCHAR}, #{src,jdbcType=TINYINT}, 
      #{ditch,jdbcType=INTEGER}, #{consume,jdbcType=BIT}, #{owerShip,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createChannel != null" >
        create_channel,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="lastChannel != null" >
        last_channel,
      </if>
      <if test="lastIp != null" >
        last_ip,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="invCode != null" >
        inv_code,
      </if>
      <if test="src != null" >
        src,
      </if>
      <if test="ditch != null" >
        ditch,
      </if>
      <if test="consume != null" >
        consume,
      </if>
      <if test="owerShip != null" >
        ower_ship,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChannel != null" >
        #{createChannel,jdbcType=TINYINT},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastChannel != null" >
        #{lastChannel,jdbcType=TINYINT},
      </if>
      <if test="lastIp != null" >
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="invCode != null" >
        #{invCode,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        #{src,jdbcType=TINYINT},
      </if>
      <if test="ditch != null" >
        #{ditch,jdbcType=INTEGER},
      </if>
      <if test="consume != null" >
        #{consume,jdbcType=BIT},
      </if>
      <if test="owerShip != null" >
        #{owerShip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="cn.liuyiyou.web.model.UserExample" resultType="java.lang.Integer" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update user
    <set >
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.passwd != null" >
        passwd = #{record.passwd,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createChannel != null" >
        create_channel = #{record.createChannel,jdbcType=TINYINT},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastChannel != null" >
        last_channel = #{record.lastChannel,jdbcType=TINYINT},
      </if>
      <if test="record.lastIp != null" >
        last_ip = #{record.lastIp,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=TINYINT},
      </if>
      <if test="record.invCode != null" >
        inv_code = #{record.invCode,jdbcType=VARCHAR},
      </if>
      <if test="record.src != null" >
        src = #{record.src,jdbcType=TINYINT},
      </if>
      <if test="record.ditch != null" >
        ditch = #{record.ditch,jdbcType=INTEGER},
      </if>
      <if test="record.consume != null" >
        consume = #{record.consume,jdbcType=BIT},
      </if>
      <if test="record.owerShip != null" >
        ower_ship = #{record.owerShip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update user
    set uid = #{record.uid,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      passwd = #{record.passwd,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_channel = #{record.createChannel,jdbcType=TINYINT},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      last_channel = #{record.lastChannel,jdbcType=TINYINT},
      last_ip = #{record.lastIp,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      user_type = #{record.userType,jdbcType=TINYINT},
      inv_code = #{record.invCode,jdbcType=VARCHAR},
      src = #{record.src,jdbcType=TINYINT},
      ditch = #{record.ditch,jdbcType=INTEGER},
      consume = #{record.consume,jdbcType=BIT},
      ower_ship = #{record.owerShip,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChannel != null" >
        create_channel = #{createChannel,jdbcType=TINYINT},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastChannel != null" >
        last_channel = #{lastChannel,jdbcType=TINYINT},
      </if>
      <if test="lastIp != null" >
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="invCode != null" >
        inv_code = #{invCode,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        src = #{src,jdbcType=TINYINT},
      </if>
      <if test="ditch != null" >
        ditch = #{ditch,jdbcType=INTEGER},
      </if>
      <if test="consume != null" >
        consume = #{consume,jdbcType=BIT},
      </if>
      <if test="owerShip != null" >
        ower_ship = #{owerShip,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    update user
    set account = #{account,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_channel = #{createChannel,jdbcType=TINYINT},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      last_channel = #{lastChannel,jdbcType=TINYINT},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      user_type = #{userType,jdbcType=TINYINT},
      inv_code = #{invCode,jdbcType=VARCHAR},
      src = #{src,jdbcType=TINYINT},
      ditch = #{ditch,jdbcType=INTEGER},
      consume = #{consume,jdbcType=BIT},
      ower_ship = #{owerShip,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" resultMap="BaseResultMap" parameterType="cn.liuyiyou.web.model.User" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    <where >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="account != null" >
         and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="realName != null" >
         and real_name = #{realName,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null" >
         and nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="passwd != null" >
         and passwd = #{passwd,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
         and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createChannel != null" >
         and create_channel = #{createChannel,jdbcType=TINYINT}
      </if>
      <if test="lastTime != null" >
         and last_time = #{lastTime,jdbcType=TIMESTAMP}
      </if>
      <if test="lastChannel != null" >
         and last_channel = #{lastChannel,jdbcType=TINYINT}
      </if>
      <if test="lastIp != null" >
         and last_ip = #{lastIp,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
         and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="userType != null" >
         and user_type = #{userType,jdbcType=TINYINT}
      </if>
      <if test="invCode != null" >
         and inv_code = #{invCode,jdbcType=VARCHAR}
      </if>
      <if test="src != null" >
         and src = #{src,jdbcType=TINYINT}
      </if>
      <if test="ditch != null" >
         and ditch = #{ditch,jdbcType=INTEGER}
      </if>
      <if test="consume != null" >
         and consume = #{consume,jdbcType=BIT}
      </if>
      <if test="owerShip != null" >
         and ower_ship = #{owerShip,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select resultMap="BaseResultMap" parameterType="cn.liuyiyou.web.model.UserExample" id="selectByExampleWithRowbounds" >
    <!--
    警告!该代码由mbg插件自动生成，请不要修改
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>